@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	border: none;
	text-decoration: none;
	/*removes the underline on links*/
	outline: none;
	box-sizing: border-box;
	transition: all .2s linear;
	transition: width none;
}

:root {
	--green: #27ae60;
	--dark-color: #5d615f;
	--black: rgb(41, 15, 41);
	--light-color: #666;
	--border: .1rem solid rgba(223, 209, 209, 0.547);
	--border-hover: .1rem solid var(--black);
	--box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
	--grey: #F4F2FF;
	--dark-grey: #B7B7B7;

	--green: #8e578e;
	--pink: #cf9090;
	--light-green: #BDFFAC;

	--red: #FE2727;
	--light-red: #FFD2D2;

	--blue: #277FFE;
	--light-blue: #B6C6FF;
	--dark-blue: #1368E3;

	--bs: #AECFFF;
	--text: #9B9B9B;
}

html {
	font-size: 62.5%;
	overflow-x: hidden;
	scroll-padding-top: 5rem;
	scroll-behavior: smooth;
}

html::-webkit-scrollbar {
	width: 1rem;
}

html::-webkit-scrollbar-track {
	background: transparent;
}

html::-webkit-scrollbar-thumb {
	background: var(--black);
}




.header .header-1 {
	text-align: center;
	background: #fff;
	padding: 1.5rem 9%;
	align-items: center;
	justify-content: space-between;
}

.header .header-1 .logo {
	font-size: 2.5rem;
	font-weight: bolder;
	color: var(--black);
}

.header .header-1 .logo i {
	color: var(--black);
}



.header .header-1 .icons div,
.header .header-1 .icons a {
	font-size: 2.5rem;
	margin-left: 1.5rem;
	color: var(--black);
	cursor: pointer;
}

.header .header-1 .icons div:hover,
.header .header-1 .icons a:hover {
	color: var(--black);
}

#search-btn {
	display: none;
}

.header .header-2 {
	background: var(--black);
}

.header .header-2 .navbar {
	text-align: center;
}

.header .header-2 .navbar a {
	color: #fff;
	display: inline-block;
	padding: 1.2rem;
	font-size: 1.7rem;
}

.header .header-2 .navbar a:hover {
	background: var(--dark-color);
}

.header .header-2.active {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;

}

.bottom-navbar {
	text-align: center;
	background: var(--black);
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	display: none;
}

.bottom-navbar a {
	font-size: 2.5rem;
	padding: 2rem;
	color: #fff;
}

.bottom-navbar a:hover {
	background: var(--dark-color);
}


a {
	color: var(--blue);
	transition: all .3s ease;
	text-decoration: none;
}



form {
	width: 40%;
	padding: 28px;
	border-radius: 12px;
	background: #fff;
	top: 50%;
	margin: auto 340px;
}

.title {
	font-size: 24px;
	font-weight: 600;
	margin-bottom: 20px;
}

.form-group {
	margin-bottom: 14px;
}

.form-group label {
	display: inline-block;
	margin-bottom: 4px;
}

.input-group {
	width: 100%;
	position: relative;
}

.input-group input {
	padding: 12px 40px 12px 20px;
	outline: none;
	border-radius: 6px;
	border: 1px solid var(--dark-grey);
	width: 100%;
	transition: all .3s ease;
}

/* Validation */
.input-group input:focus,
.input-group input:not(:placeholder-shown) {
	border-color: var(--blue);
	background: var(--grey);
}

.input-group input:focus+i,
.input-group input:not(:placeholder-shown)+i {
	color: var(--blue);
}

.input-group input:focus:valid {
	box-shadow: 0 0 0 4px var(--light-green);
}

.input-group input:valid:not(:placeholder-shown) {
	border-color: var(--green);
}

.input-group input:valid:not(:placeholder-shown)+i {
	color: var(--green);
}

.input-group input:invalid:not(:placeholder-shown) {
	border-color: var(--red);
}

.input-group input:invalid:not(:placeholder-shown)+i {
	color: var(--red);
}

.input-group input:focus:invalid {
	box-shadow: 0 0 0 4px var(--light-red);
}

.input-group input:focus,
.input-group input:focus:placeholder-shown {
	box-shadow: 0 0 0 4px var(--bs);
}

/* Validation */

.input-group i {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
	color: var(--text);
	pointer-events: none;
	transition: all .3s ease;
}

.form-group .help-text {
	font-size: 12px;
	color: var(--text);
}

.btn-submit {
	padding: 12px 0;
	display: block;
	width: 100%;
	color: #fff;
	border-radius: 6px;
	cursor: pointer;
	transition: all .3s ease;
	border: none;
	font-weight: 500;
	background: var(--blue);
	margin-bottom: 20px;
}

.btn-submit:hover {
	background: var(--dark-blue);
}